@import url(http://allfont.net/allfont.css?fonts=star-jedi);

.loading {
  /* display: inline-block; */
  width: 64px;
  height: 64px;
}
.loading:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #feda4a;
  border-color: #feda4a transparent #feda4a transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bio {
  display: flex;
  justify-content: space-evenly;
}

.loaded {
  margin: 10px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

body {
  background-color: black;
  color: #feda4a;
  font-family: "Star Jedi", arial;
}

.card {
  display: inline-block;
  border: #feda4a solid 2px;
  border-radius: 8px;
  height: 400px;
  width: 350px;
  margin: 10px;
  padding: 10px;
}

.heading {
  text-align: center;
}
